@import "tailwindcss";

@theme {
  --color-rednotes-red: #ff2e2e;
  --color-douyin-cyan: #25F4EE;
}

@layer base {
  body {
    background-color: #f5f7f9;
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #FE2C55;
  }
}
